$border-radius: 2rem;
$border-width: 0.25rem;



@import '../node_modules/bootstrap/scss/bootstrap.scss';

.container {
  --max-width: 1440px;
  --padding: 1rem;
  

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline:auto;
}


.bg-grass {
  background-image: url('../assets/images/grassbg.jpg');
  background: linear-gradient(180deg, rgba(18, 54, 22, 0.60) 0%, rgba(39, 123, 47, 0.00) 100%), url(./assets/images/grassbg.jpg), lightgray 50% / cover no-repeat;
}

.bg-grass-2 {
  background-image: url('../assets/images/grassbg.jpg');
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url('../assets/images/grassbg.jpg'), lightgray 50% / cover no-repeat;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.25) inset;
}

.bg-grey {
  background-color: grey;
}

.logoanchor {
  text-decoration: none;
  padding-right: 0.5rem;
  font-family: Poppins;
}

.logo-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  font-family: Poppins;
  color: #FFF;
}

.button-container {
  display: flex;
}

.action-button {
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.50);
  border: none;
  padding: 1rem 2.5rem 1rem 2.5rem;
  color: white;
  font-family: Poppins;
  margin: 3rem auto 0 auto;
}

.action-button-secondary {
  border-radius: 2rem;
  background: radial-gradient(50% 50% at 50% 50%, #FFF 0%, #F9F9F9 100%);
  box-shadow: 0px 10px 50px 0px rgba(16, 51, 30, 0.50);
  border: none;
  padding: 1rem 3rem 1rem 3rem;
  color: green;
  font-family: Poppins;
  margin: 4rem auto 5rem auto;
  font-weight: bold;
}

.companynamebig {
  margin: 0;
  color: #FFF;
  font-family: Poppins;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 800;
  line-height: 4rem;
}

.companynamesmall {
  margin: 0;
  color: #FFF;
  font-family: Poppins;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: 0.5rem;
}

.action-title {
  color: #FFF;
  text-align: center;
  text-shadow: 0px 0px 40px rgba(0, 0, 0, 0.50);
  font-family: Poppins;
  font-size: 9rem;
  font-style: normal;
  font-weight: 900;
  line-height: 8rem;
  margin-top: 2rem;
}


.card {
  box-shadow: 0px 10px 10px 0px rgba(16, 51, 30, 0.10);
  border-radius: 2rem;
  border: none;
}


.secondary-headers {
  color: #828282;
  text-align: center;
  font-family: Poppins;
  font-size: 4rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.card-title {
  font-weight: bold;
  color: #0D4D14;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  line-height: 1.5rem;
  padding-top: 0.5rem;
  padding: 1rem 1rem 0 1rem;
}

.card-text {
  color: #0D4D14;
  font-family: Poppins;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  padding: 0 1rem 1rem 1rem;
}


.aboutrow {
  display: flex;
  flex-direction: row;
  color: white;
  padding: 5rem 2rem 0 2rem;
}

body{
  background: #F9F9F9;    
}
.testimonials {
margin-top: 40px;    
}
.testimonial {
  margin-bottom: 3em;
  background: #fff;
  padding: 2em;
  border-right: 30px solid #F9F9F9;
  min-height: 169px;
}

.testimonial:before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 14px;
  box-shadow: 0 16px 5px rgba(0,0,0,.04);
  max-width: 90%;
  width: 90%;
  height: 50px;
  left: 1px;
}

.avatar .img-circle {
  background: #fff;
  padding: 3px;
}

.avatar img {
  max-width: 100%;
}

.img-circle {
  border-radius: 50%;
}
.testimonial {
  border-radius: 2.5rem;
  border: 1px solid #6CB981;
  margin: 1rem 1rem 1rem 1rem;
}

.testimony-body {
  color: #0D4C14;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
}

.testimonial h4, .testimonial h4 a {
  text-decoration: none;
  color: #6CB981;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.375rem;
}

.testimonial h4 {
  margin-bottom: 8px;
}

.testimonial .testimony-body {
  font-size: .9em;
}


.footer-button-primary {
  border-radius: 2rem;
  background: #9FDEA9;
  color: #9FDEA9;
  border: none;
  width: 50%;
  margin: 0 auto;
}

.footer-button-secondary {
  border: 3px solid #9FDEA9;
  color: white;
  border-radius: 2rem;
  background: none;
  width: 25%;
  margin: 0 auto;
}

.footer-button-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.bg-grey {
  background: #FCFCFC;
}

.colored-rectangle {
  background-color:#324B29;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100px;
}

@media (max-width: 768px) {
  h4.companynamebig {
      font-size: 24px;
      letter-spacing: 0.1rem;
      line-height: 1rem;
  }
  
  p.companynamesmall {
      font-size: 18px;
      letter-spacing: 0.1rem;
      line-height: 1rem;
  }

  h1.action-title {
      font-size: 60px;
  }
  
  .button-container {
      text-align: center;
  }
}